
#Created by Constraints Editor (xc3s50-pq208-5) - 2014/05/13
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;
INST "addr<0>" TNM = input;
INST "addr<1>" TNM = input;
INST "addr<2>" TNM = input;
INST "addr<3>" TNM = input;
INST "addr<4>" TNM = input;
INST "addr<5>" TNM = input;
INST "addr<6>" TNM = input;
INST "addr<7>" TNM = input;
INST "addr<8>" TNM = input;
INST "addr<9>" TNM = input;
INST "addr<10>" TNM = input;
INST "addr<11>" TNM = input;
INST "addr<12>" TNM = input;
INST "addr<13>" TNM = input;
INST "addr<14>" TNM = input;
INST "addr<15>" TNM = input;
INST "addr<16>" TNM = input;
INST "addr<17>" TNM = input;
INST "addr<18>" TNM = input;
INST "addr<19>" TNM = input;
INST "addr<20>" TNM = input;
INST "addr<21>" TNM = input;
INST "addr<22>" TNM = input;
INST "addr<23>" TNM = input;
INST "addr<24>" TNM = input;
INST "addr<25>" TNM = input;
INST "addr<26>" TNM = input;
INST "addr<27>" TNM = input;
INST "addr<28>" TNM = input;
INST "addr<29>" TNM = input;
INST "addr<30>" TNM = input;
INST "addr<31>" TNM = input;
INST "burst<0>" TNM = input;
INST "burst<1>" TNM = input;
INST "burst<2>" TNM = input;
INST "burst<3>" TNM = input;
INST "din<0>" TNM = input;
INST "din<1>" TNM = input;
INST "din<2>" TNM = input;
INST "din<3>" TNM = input;
INST "din<4>" TNM = input;
INST "din<5>" TNM = input;
INST "din<6>" TNM = input;
INST "din<7>" TNM = input;
INST "din<8>" TNM = input;
INST "din<9>" TNM = input;
INST "din<10>" TNM = input;
INST "din<11>" TNM = input;
INST "din<12>" TNM = input;
INST "din<13>" TNM = input;
INST "din<14>" TNM = input;
INST "din<15>" TNM = input;
INST "din<16>" TNM = input;
INST "din<17>" TNM = input;
INST "din<18>" TNM = input;
INST "din<19>" TNM = input;
INST "din<20>" TNM = input;
INST "din<21>" TNM = input;
INST "din<22>" TNM = input;
INST "din<23>" TNM = input;
INST "din<24>" TNM = input;
INST "din<25>" TNM = input;
INST "din<26>" TNM = input;
INST "din<27>" TNM = input;
INST "din<28>" TNM = input;
INST "din<29>" TNM = input;
INST "din<30>" TNM = input;
INST "din<31>" TNM = input;
INST "req" TNM = input;
INST "reset" TNM = input;
TIMEGRP "input" OFFSET = IN 10 ns VALID 10 ns BEFORE "clk" RISING;
INST "dout<0>" TNM = output;
INST "dout<1>" TNM = output;
INST "dout<2>" TNM = output;
INST "dout<3>" TNM = output;
INST "dout<4>" TNM = output;
INST "dout<5>" TNM = output;
INST "dout<6>" TNM = output;
INST "dout<7>" TNM = output;
INST "dout<8>" TNM = output;
INST "dout<9>" TNM = output;
INST "dout<10>" TNM = output;
INST "dout<11>" TNM = output;
INST "dout<12>" TNM = output;
INST "dout<13>" TNM = output;
INST "dout<14>" TNM = output;
INST "dout<15>" TNM = output;
INST "dout<16>" TNM = output;
INST "dout<17>" TNM = output;
INST "dout<18>" TNM = output;
INST "dout<19>" TNM = output;
INST "dout<20>" TNM = output;
INST "dout<21>" TNM = output;
INST "dout<22>" TNM = output;
INST "dout<23>" TNM = output;
INST "dout<24>" TNM = output;
INST "dout<25>" TNM = output;
INST "dout<26>" TNM = output;
INST "dout<27>" TNM = output;
INST "dout<28>" TNM = output;
INST "dout<29>" TNM = output;
INST "dout<30>" TNM = output;
INST "dout<31>" TNM = output;
INST "maddr<0>" TNM = output;
INST "maddr<1>" TNM = output;
INST "maddr<2>" TNM = output;
INST "maddr<3>" TNM = output;
INST "maddr<4>" TNM = output;
INST "maddr<5>" TNM = output;
INST "maddr<6>" TNM = output;
INST "maddr<7>" TNM = output;
INST "maddr<8>" TNM = output;
INST "maddr<9>" TNM = output;
INST "maddr<10>" TNM = output;
INST "maddr<11>" TNM = output;
INST "maddr<12>" TNM = output;
INST "maddr<13>" TNM = output;
INST "maddr<14>" TNM = output;
INST "maddr<15>" TNM = output;
INST "maddr<16>" TNM = output;
INST "maddr<17>" TNM = output;
INST "maddr<18>" TNM = output;
INST "maddr<19>" TNM = output;
INST "maddr<20>" TNM = output;
INST "maddr<21>" TNM = output;
INST "maddr<22>" TNM = output;
INST "maddr<23>" TNM = output;
INST "maddr<24>" TNM = output;
INST "maddr<25>" TNM = output;
INST "maddr<26>" TNM = output;
INST "maddr<27>" TNM = output;
INST "maddr<28>" TNM = output;
INST "maddr<29>" TNM = output;
INST "maddr<30>" TNM = output;
INST "maddr<31>" TNM = output;
INST "rdy" TNM = output;
TIMEGRP "output" OFFSET = OUT 10 ns AFTER "clk";
