
#Created by Constraints Editor (xc3s50-pq208-5) - 2014/05/09
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;
INST "addr<0>" TNM = input;
INST "addr<1>" TNM = input;
INST "addr<2>" TNM = input;
INST "addr<3>" TNM = input;
INST "addr<4>" TNM = input;
INST "addr<5>" TNM = input;
INST "addr<6>" TNM = input;
INST "addr<7>" TNM = input;
INST "addr<8>" TNM = input;
INST "addr<9>" TNM = input;
INST "din<0>" TNM = input;
INST "din<1>" TNM = input;
INST "din<2>" TNM = input;
INST "din<3>" TNM = input;
INST "din<4>" TNM = input;
INST "din<5>" TNM = input;
INST "din<6>" TNM = input;
INST "din<7>" TNM = input;
INST "din<8>" TNM = input;
INST "din<9>" TNM = input;
INST "din<10>" TNM = input;
INST "din<11>" TNM = input;
INST "din<12>" TNM = input;
INST "din<13>" TNM = input;
INST "din<14>" TNM = input;
INST "din<15>" TNM = input;
INST "din<16>" TNM = input;
INST "din<17>" TNM = input;
INST "din<18>" TNM = input;
INST "din<19>" TNM = input;
INST "din<20>" TNM = input;
INST "din<21>" TNM = input;
INST "din<22>" TNM = input;
INST "din<23>" TNM = input;
INST "din<24>" TNM = input;
INST "din<25>" TNM = input;
INST "din<26>" TNM = input;
INST "din<27>" TNM = input;
INST "din<28>" TNM = input;
INST "din<29>" TNM = input;
INST "din<30>" TNM = input;
INST "din<31>" TNM = input;
INST "reset" TNM = input;
INST "WE" TNM = input;
TIMEGRP "input" OFFSET = IN 5 ns VALID 10 ns BEFORE "clk" RISING;
INST "dout<0>" TNM = output;
INST "dout<1>" TNM = output;
INST "dout<2>" TNM = output;
INST "dout<3>" TNM = output;
INST "dout<4>" TNM = output;
INST "dout<5>" TNM = output;
INST "dout<6>" TNM = output;
INST "dout<7>" TNM = output;
INST "dout<8>" TNM = output;
INST "dout<9>" TNM = output;
INST "dout<10>" TNM = output;
INST "dout<11>" TNM = output;
INST "dout<12>" TNM = output;
INST "dout<13>" TNM = output;
INST "dout<14>" TNM = output;
INST "dout<15>" TNM = output;
INST "dout<16>" TNM = output;
INST "dout<17>" TNM = output;
INST "dout<18>" TNM = output;
INST "dout<19>" TNM = output;
INST "dout<20>" TNM = output;
INST "dout<21>" TNM = output;
INST "dout<22>" TNM = output;
INST "dout<23>" TNM = output;
INST "dout<24>" TNM = output;
INST "dout<25>" TNM = output;
INST "dout<26>" TNM = output;
INST "dout<27>" TNM = output;
INST "dout<28>" TNM = output;
INST "dout<29>" TNM = output;
INST "dout<30>" TNM = output;
INST "dout<31>" TNM = output;
TIMEGRP "output" OFFSET = OUT 8 ns AFTER "clk";
