//! **************************************************************************
// Written by: Map P.28xd on Fri Nov 08 10:35:30 2013
//! **************************************************************************

SCHEMATIC START;
TIMEGRP "PADS" = PADS(*);
TS_P2P = MAXDELAY FROM TIMEGRP "PADS" TO TIMEGRP "PADS" 5 ns;
SCHEMATIC END;

